/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }

  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
  }

  #cs-navigation:before {
    content: "";
    width: 100%;
    height: 0vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1100;
    transition: height 0.5s, opacity 0.5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  #cs-navigation.cs-active:before {
    height: 150vh;
    opacity: 1;
  }

  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0.15s;
  }

  #cs-navigation.cs-active .cs-li {
    opacity: 1;
    transform: translateY(0);
  }

  #cs-navigation .cs-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #cs-navigation .cs-logo {
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    margin: 0 auto 0 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }

  #cs-navigation .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0 0 0 auto;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }

  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    transform-origin: center;
  }

  #cs-navigation .cs-active .cs-line3 {
    opacity: 0;
    bottom: 100%;
  }

  #cs-navigation .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }

  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    background-color: #1a1a1a;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #cs-navigation .cs-line1 {
    top: 0;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: center;
  }

  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  #cs-navigation .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }

  #cs-navigation .cs-ul-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 2.4em;
    background-color: #fff;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform 0.4s, opacity 0.3s;
    transform-origin: top;
  }

  #cs-navigation .cs-ul {
    width: 100%;
    height: auto;
    max-height: 65vh;
    margin: 0;
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    overflow: scroll;
  }

  #cs-navigation .cs-li {
    text-align: center;
    list-style: none;
    width: 100%;
    margin-right: 0;
    opacity: 0;
    /* transition from these values */
    transform: translateY(-4.375rem);
    transition: transform 0.6s, opacity 0.9s;
  }

  #cs-navigation .cs-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }

  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }

  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }

  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }

  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }

  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }

  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }

  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }

  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }

  #cs-navigation .cs-li:nth-of-type(10) {
    transition-delay: 0.5s;
  }

  #cs-navigation .cs-li:nth-of-type(11) {
    transition-delay: 0.55s;
  }

  #cs-navigation .cs-li:nth-of-type(12) {
    transition-delay: 0.6s;
  }

  #cs-navigation .cs-li:nth-of-type(13) {
    transition-delay: 0.65s;
  }

  #cs-navigation .cs-li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: inline-block;
    position: relative;
  }

  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    display: none;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
  }

  #cs-navigation .cs-li-link.cs-active:before {
    display: block;
  }

  #cs-navigation .cs-button-solid {
    display: none;
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
  }

  #cs-navigation .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }

  #cs-navigation .cs-toggle {
    display: none;
  }

  #cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 21.875rem;
    height: 4.0625rem;
    /* margin-right auto pushes everything away from it to the right */
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }

  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }

  #cs-navigation .cs-li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }

  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    position: relative;
  }

  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }

  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }

  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }

  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  #cs-navigation .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }

  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-269 {
    /* 60px - 100px top and bottom */
    padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    background-color: #1a1a1a;
    /* Navigation Links */
    /* Contact Links */
  }

  #cs-footer-269 .cs-container {
    width: 100%;
    /* reset on tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* 68px - 100px */
    column-gap: clamp(4.25rem, calc(10%), 6.25rem);
  }

  #cs-footer-269 .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }

  #cs-footer-269 .cs-logo {
    /* 210px - 240px */
    width: clamp(13.125rem, 8vw, 15rem);
    height: auto;
    display: block;
    /* 28px - 44px */
    margin-bottom: clamp(1.75rem, 4.17vw, 2.75rem);
  }

  #cs-footer-269 .cs-logo-img {
    width: 100%;
    height: auto;
  }

  #cs-footer-269 .cs-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 2rem;
    /* changes to 305px at desktop */
    max-width: 33.75rem;
    color: var(--bodyTextColorWhite);
  }

  #cs-footer-269 .cs-nav {
    padding: 0;
    margin: 0;
  }

  #cs-footer-269 .cs-nav-li {
    list-style: none;
    line-height: 1.5em;
    margin-bottom: 0.5rem;
  }

  #cs-footer-269 .cs-nav-li:last-of-type {
    margin-bottom: 0;
  }

  #cs-footer-269 .cs-header {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    margin-bottom: 0.875rem;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: block;
  }

  #cs-footer-269 .cs-nav-link {
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
    position: relative;
  }

  #cs-footer-269 .cs-nav-link:before {
    /* underline */
    content: "";
    width: 0%;
    height: 0.125rem;
    /* current color of the parent */
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }

  #cs-footer-269 .cs-nav-link:hover:before {
    width: 100%;
  }

  #cs-footer-269 .cs-contact {
    margin: 0;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  #cs-footer-269 .cs-contact-li {
    list-style: none;
    margin-bottom: 0rem;
  }

  #cs-footer-269 .cs-contact-li:last-of-type {
    margin-bottom: 0;
  }

  #cs-footer-269 .cs-contact-link {
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    text-align: left;
    color: var(--bodyTextColorWhite);
    display: inline-block;
  }

  #cs-footer-269 .cs-contact-link:hover {
    text-decoration: underline;
  }

  #cs-footer-269 .cs-address {
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }

  #cs-footer-269 .cs-social-group {
    /* pushes away from the other flex items */
    margin-top: auto;
    margin-left: auto;
  }

  #cs-footer-269 .cs-social {
    display: inline-flex;
    justify-content: flex-start;
    gap: 0.75rem;
  }

  #cs-footer-269 .cs-social-link {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #4e4b66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition:
      transform 0.3s,
      background-color 0.3s;
  }

  #cs-footer-269 .cs-social-link:hover {
    background-color: var(--primary);
    transform: translateY(-0.1875rem);
  }

  #cs-footer-269 .cs-social-img {
    height: 0.8125rem;
    width: auto;
    display: block;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-269 .cs-container {
    max-width: 80rem;
    row-gap: 0;
  }

  #cs-footer-269 .cs-logo-group {
    width: auto;
    /* pushes everything to the right of it as far as possible in a flexbox */
    margin-right: auto;
  }

  #cs-footer-269 .cs-text {
    width: 80%;
    max-width: 19.0625rem;
    margin: 0;
  }

  #cs-footer-269 .cs-nav,
  #cs-footer-269 .cs-contact {
    /* 8px - 12px */
    margin-top: clamp(0.5rem, 1.2vw, 0.75rem);
  }
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-541 {
    /* 144px - 300px - leaving extra space for the navigation */
    padding: clamp(9rem, 25.95vw, 18.75rem) 1rem 0;
    /* 130px - 175px */
    padding-bottom: clamp(8.125rem, 12.5vw, 10.9375rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* clips the color overlay so it doesn't cause an overflow */
    overflow: hidden;
    position: relative;
  }

  #hero-541 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }

  #hero-541 .cs-content {
    text-align: left;
    /* changed to at tablet */
    width: 90%;
    max-width: 34.0625rem;
    /* 100px - 150px, changes to 0 at tablet */
    margin-top: clamp(6.25rem, 28vw, 9.375rem);
  }

  #hero-541 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.7vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    /* 16px - 32px */
    margin: 0 0 clamp(1rem, 4vw, 2rem) 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }

  #hero-541 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    /* 40px - 64px */
    margin: 0 0 clamp(2.5rem, 6.3vw, 4rem);
    color: var(--bodyTextColorWhite);
  }

  #hero-541 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #1a1a1a;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--secondary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }

  #hero-541 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }

  #hero-541 .cs-button-solid:hover {
    color: #fff;
  }

  #hero-541 .cs-button-solid:hover:before {
    width: 100%;
  }

  #hero-541 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #hero-541 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 125rem;
    width: 187.5rem;
    background: rgba(12, 12, 12, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    top: 70.3125rem;
    left: 50%;
    z-index: 1;
    transform: rotate(30deg) translateX(-50%);
  }

  #hero-541 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-541 .cs-content {
    width: 48%;
    margin-top: 0rem;
  }

  #hero-541 .cs-background:before {
    top: 7.5rem;
    margin-left: -127.1875rem;
    transform: rotate(60deg);
  }
}





/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-220 {
    /* centers the button */
    text-align: center;
    padding: var(--sectionPadding);
  }

  #meet-team-220 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }

  #meet-team-220 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }

  #meet-team-220 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }

  #meet-team-220 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }

  #meet-team-220 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }

  #meet-team-220 .cs-picture {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    display: block;
    position: relative;
    aspect-ratio: 0.925;
    /* clips the corners off the image tag */
    overflow: hidden;
  }

  #meet-team-220 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image behave like a background image */
    object-fit: cover;
    transition: transform 0.7s;
  }

  #meet-team-220 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #meet-team-220 .cs-item {
    list-style: none;
    /* Changes on tablet */
    width: 100%;
    max-width: 21.25rem;
    /* 16px - 20px */
    padding: clamp(1rem, 2vw, 1.25rem);
    padding-bottom: 1.25rem;
    background: #f1f1f4;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }

  #meet-team-220 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }

  #meet-team-220 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.25rem;
    color: var(--headerColor);
    display: block;
  }

  #meet-team-220 .cs-job-title {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    display: block;
  }

  #meet-team-220 .cs-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  #meet-team-220 .cs-link {
    /* 28px - 32px */
    width: clamp(1.75rem, 3vw, 2rem);
    /* 28px - 32px */
    height: clamp(1.75rem, 3vw, 2rem);
    /* After making the a tag into a box, we center the image inside of it */
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* creates the 3D space for the 3D effect when spinning */
    transform-style: preserve-3d;
    perspective: 700px;
  }

  #meet-team-220 .cs-link:hover img {
    transform: translateY(-0.3125rem) rotateY(360deg);
  }

  #meet-team-220 .cs-link img {
    width: 0.875rem;
    height: auto;
    transition: transform 0.7s;
  }

  #meet-team-220 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }

  #meet-team-220 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }

  #meet-team-220 .cs-button-solid:hover:before {
    width: 100%;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-220 .cs-container {
    max-width: 80em;
  }

  #meet-team-220 .cs-card-group {
    flex-direction: row;
  }

  #meet-team-220 .cs-item {
    width: 31%;
  }

  #meet-team-220 .cs-picture {
    /* 240px - 360px */
    height: clamp(15rem, 31.25vw, 22.5rem);
    aspect-ratio: none;
  }
}

/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-289 {
    text-align: center;
    padding: var(--sectionPadding);
  }

  #why-choose-289 .cs-container {
    width: 100%;
    /* changes to 1280px on tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }

  #why-choose-289 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }

  #why-choose-289 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }

  #why-choose-289 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }

  #why-choose-289 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }

  #why-choose-289 .cs-text {
    max-width: 32.625rem;
  }

  #why-choose-289 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  #why-choose-289 .cs-item {
    list-style: none;
    text-align: left;
    width: 100%;
    padding: 2rem;
    background-color: #f7f7f7;
    border-radius: 1rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    transition: background-color 0.3s;
  }

  #why-choose-289 .cs-item:hover {
    background-color: var(--primary);
    cursor: pointer;
  }

  #why-choose-289 .cs-item:hover .cs-icon {
    filter: grayscale(1) brightness(200%);
  }

  #why-choose-289 .cs-item:hover .cs-h3 {
    color: var(--bodyTextColorWhite);
  }

  #why-choose-289 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
  }

  #why-choose-289 .cs-icon {
    width: auto;
    height: 3rem;
    margin-bottom: 1.5rem;
    display: block;
    transition: filter 0.3s;
  }

  #why-choose-289 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--headerColor);
    transition: color 0.3s;
  }

  #why-choose-289 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-289 .cs-container {
    max-width: 80rem;
  }

  #why-choose-289 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4rem;
  }

  #why-choose-289 .cs-flex {
    width: 50%;
  }

  #why-choose-289 .cs-title {
    margin: 0;
  }

  #why-choose-289 .cs-card-group {
    justify-content: space-between;
    /* makes sure every box "stretches" to be the same height as the tallest box */
    align-items: stretch;
    flex-direction: row;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }

  #why-choose-289 .cs-item {
    width: auto;
    /* 16px - 32px */
    padding: 2rem clamp(1rem, 2.1vw, 2rem);
  }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-46 {
    padding: var(--sectionPadding);
    position: relative;
  }

  #gallery-46 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }

  #gallery-46 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }

  #gallery-46 .cs-image-group {
    width: 100%;
    margin: 0;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(12, 1fr);
    /* 158px - 304px */
    grid-template-rows: 1fr;
    /* 8px - 20px */
    gap: clamp(0.5rem, 1.5vw, 1.25rem);
  }

  #gallery-46 .cs-item {
    width: 100%;
    margin: 0;
    aspect-ratio: 1;
    grid-column: span 6;
    display: block;
    position: relative;
    /* prevents image from overflowing the container on hover */
    overflow: hidden;
  }

  #gallery-46 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }

  #gallery-46 .cs-item:hover .cs-hover-box {
    opacity: 1;
    pointer-events: all;
  }

  #gallery-46 .cs-item:hover .cs-heading3 {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }

  #gallery-46 .cs-item:hover .cs-subtitle {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }

  #gallery-46 .cs-item:hover .cs-link {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }

  #gallery-46 .cs-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #gallery-46 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s;
  }

  #gallery-46 .cs-item-1 {
    grid-column: 1 / span 12;
    grid-row: 1 / 2;
    aspect-ratio: 2.07594937;
  }

  #gallery-46 .cs-item-5 {
    grid-column: 7 / span 6;
    grid-row: 3 / span 2;
    aspect-ratio: initial;
  }

  #gallery-46 .cs-hover-box {
    height: 100%;
    width: 100%;
    padding: 1rem 0.625rem;
    opacity: 0;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Prevents padding from adding to the height & width */
    box-sizing: border-box;
    transition: opacity 0.3s;
    /* prevent it from interacting with the mouse so we can add a hover
          effect on the cs-item parent */
    pointer-events: none;
    position: relative;
  }

  #gallery-46 .cs-hover-box:before {
    /* top right box */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.9;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }

  #gallery-46 .cs-heading3 {
    /* 16px - 20px */
    font-size: clamp(1rem, 5vw, 1.25rem);
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--bodyTextColorWhite);
    opacity: 0;
    /* starting point is 10px down from its original point */
    transform: translateY(0.625rem);
    transition:
      opacity 0.3s,
      transform 0.5s;
  }

  #gallery-46 .cs-subtitle {
    /* 13px - 15px */
    font-size: clamp(0.8125rem, 5vw, 0.9375rem);
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    /* Pushes the link to the bottom of the flexbox */
    margin-bottom: auto;
    color: var(--bodyTextColorWhite);
    opacity: 0;
    /* starting point is 10px down from its original point */
    transform: translateY(0.625rem);
    display: block;
    transition:
      opacity 0.3s,
      transform 0.5s;
    transition-delay: 0.1s;
  }

  #gallery-46 .cs-link {
    font-size: 0.9375rem;
    line-height: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    opacity: 0;
    /* starting point is 10px down from its original point */
    transform: translateY(0.625rem);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition:
      opacity 0.3s,
      transform 0.5s;
    transition-delay: 0.3s;
  }

  #gallery-46 .cs-link:hover:before {
    width: 100%;
  }

  #gallery-46 .cs-link:before {
    content: "";
    position: absolute;
    display: block;
    height: 0.125rem;
    width: 0%;
    background: currentColor;
    opacity: 1;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }

  #gallery-46 .cs-link svg {
    margin-right: 0.5rem;
  }

  #gallery-46 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }

  #gallery-46 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }

  #gallery-46 .cs-button-solid:hover:before {
    width: 100%;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-46 .cs-item {
    grid-column: span 3;
  }

  #gallery-46 .cs-item-1 {
    grid-column: 1 / span 6;
  }

  #gallery-46 .cs-item-2 {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  #gallery-46 .cs-item-3 {
    grid-column: 4 / span 3;
    grid-row: 2;
  }

  #gallery-46 .cs-item-5 {
    grid-column: 7 / span 3;
    grid-row: 2;
  }

  #gallery-46 .cs-item-6 {
    grid-column: 10 / span 3;
    grid-row: 1 / span 2;
    aspect-ratio: initial;
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1452 {
    padding: var(--sectionPadding);
  }

  #reviews-1452 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }

  #reviews-1452 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #reviews-1452 .cs-title {
    max-width: 20ch;
  }

  #reviews-1452 .cs-quote {
    /* 48px - 72px */
    width: clamp(3rem, 7vw, 4.5rem);
    height: auto;
    /* 28px - 48px */
    margin: 0 0 2rem 0;
  }

  #reviews-1452 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.75vw, 1.25rem);
    max-width: 40.625rem;
  }

  #reviews-1452 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    /* 20px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.5rem, 3.15vw, 2rem);
    background-color: #f7f7f7;
    border-radius: 1.5rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  #reviews-1452 .cs-review {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1.75rem 0;
    color: var(--bodyTextColor);
  }

  #reviews-1452 .cs-flex-group {
    /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
    margin-top: auto;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }

  #reviews-1452 .cs-profile {
    width: 3.125rem;
    height: auto;
    border: 4px solid #fff;
    border-radius: 50%;
    /* clips image corners to make circle */
    overflow: hidden;
    position: relative;
    display: block;
  }

  #reviews-1452 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }

  #reviews-1452 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }

  #reviews-1452 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #reviews-1452 .cs-container {
    flex-direction: row;
  }

  #reviews-1452 .cs-content {
    text-align: left;
    width: 45%;
    align-items: flex-start;
    /* prevents flexbox from squishing it */
    flex: none;
  }

  #reviews-1452 .cs-card-group {
    width: 100%;
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #reviews-1452 .cs-content {
    max-width: 34.5rem;
    align-items: flex-start;
    text-align: left;
  }
}

/*-- -------------------------- -->
<---       Contact Form         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes scaleFade {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }

    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.4);
    }

    100% {
      transform: translate(-50%, -50%) scale(1.7);
      opacity: 0;
    }
  }

  #cs-contact-549 {
    padding: var(--sectionPadding);
  }

  #cs-contact-549 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }

  #cs-contact-549 .cs-content {
    /* set text aling to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }

  #cs-contact-549 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }

  #cs-contact-549 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    /* max width of 24 characters including spaces */
    max-width: 24ch;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }

  #cs-contact-549 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }

  #cs-contact-549 .cs-background {
    width: 100%;
    height: 19.5rem;
    display: block;
    position: relative;
  }

  #cs-contact-549 .cs-background:before {
    /* yellow dot */
    content: "";
    width: 1.125rem;
    height: 1.125rem;
    background: var(--primary);
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  #cs-contact-549 .cs-background:after {
    /* yellow animated ring */
    content: "";
    width: 1.125rem;
    height: 1.125rem;
    background: transparent;
    border-radius: 50%;
    border: 1px solid var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    transition:
      transform 0.4s,
      opacity 0.4s;
    animation-name: scaleFade;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }

  #cs-contact-549 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #cs-contact-549 .cs-form {
    width: 100%;
    max-width: 66.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  #cs-contact-549 .cs-label {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
  }

  #cs-contact-549 .cs-input,
  #cs-contact-549 .cs-textarea,
  #cs-contact-549 select,
  #cs-contact-549 .cs-select {
    /* added options for the select tag in case you add it, that way it will also have the same styles, add the cs-select class for better specificity when targeting it */
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-family: inherit;
    margin: 0;
    /* 24px - 40px */
    padding: 0 clamp(1.5rem, 5vw, 2.5rem) 0;
    width: 100%;
    /* 70px - 90px */
    height: clamp(4.375rem, 7vw, 5.625rem);
    background-color: #f1f1f4;
    /* prevents border and padding from affecting height and width */
    box-sizing: border-box;
    border: 3px solid transparent;
    display: block;
    position: relative;
    transition: border-color 0.3s;
  }

  #cs-contact-549 .cs-input:hover,
  #cs-contact-549 .cs-textarea:hover,
  #cs-contact-549 select:hover,
  #cs-contact-549 .cs-select:hover,
  #cs-contact-549 .cs-input:focus,
  #cs-contact-549 .cs-textarea:focus,
  #cs-contact-549 select:focus,
  #cs-contact-549 .cs-select:focus {
    /* focus has a black outline, we override it here */
    outline: none;
    border-color: var(--primaryLight);
  }

  #cs-contact-549 .cs-textarea {
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    /* changes at tablet */
    min-height: 12.5rem;
  }

  #cs-contact-549 .cs-icon {
    width: 1.875rem;
    height: auto;
    position: absolute;
    /* 24px - 40px, matches the padding left and right of input */
    right: clamp(1.5rem, 5vw, 2.5rem);
    /* these two center the icon inside the label */
    bottom: 50%;
    transform: translateY(115%);
  }

  #cs-contact-549 .cs-submit {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    /* 56px - 84px */
    line-height: clamp(3.5rem, 6.5vw, 5.25rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    /* 28px - 44px, minus the gap value. Should be 48px - 64px, but with a 20px gap on the flexbox, we account for that space when adding our margin top value so its 48px - 64px */
    margin: clamp(1.75rem, 6vw, 2.75rem) auto 0;
    color: #1a1a1a;
    border: none;
    /* 150px - 234px */
    min-width: clamp(9.374rem, 18vw, 14.625rem);
    padding: 0 1.5rem;
    background-color: var(--primaryLight);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }

  #cs-contact-549 .cs-submit:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }

  #cs-contact-549 .cs-submit:hover {
    color: #fff;
    cursor: pointer;
  }

  #cs-contact-549 .cs-submit:hover:before {
    width: 100%;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-contact-549 .cs-background {
    /* 310px - 568px */
    height: clamp(19.375rem, 43vw, 35.5rem);
  }

  #cs-contact-549 .cs-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #cs-contact-549 .cs-label {
    width: 48%;
  }

  #cs-contact-549 .cs-textarea-label {
    width: 100%;
  }

  #cs-contact-549 .cs-textarea {
    /* 280px - 358px */
    min-height: clamp(17.5rem, 28vw, 22.375rem);
  }
}